name = "cloudflare-auth-worker"
main = "src/index.ts"
compatibility_date = "2024-01-01"

# ログ設定
[observability]
enabled = true

# 環境変数
[vars]
AUTHORIZED_CLIENTS = '{"testclient":"-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs3p20SBwWfP6vPrGnSpj\nNWkTQ7KSWZQZidMOSsdA8obY4MrbRKh0dMg4mLgiloGDOLLKzjqxQJU+rP2JyvLF\na5oCDe0Lm0YuSkKc63alE8g14fW79s61vcaRpCDjJ1PMxaTte2XMdPYmMfYPjUyT\np30p1XiUzCjIUNHeqJS8lHz7tmAB7ODPHGyvKttWMZqMVvmCyyZ48BIaqSDO1xUw\nW3oMYqM1J5cXw7I3Hr+Y3agPAUEI2QBBwShsThFY/wGL8f7021ZmcWfW/9CYRd9F\nDbSDamjuRx09VLncVVPMBevgMT4hZEkGkL5V8m5aLdNWkb4p6vuUlKeokxk/SSsm\nQQIDAQAB\n-----END PUBLIC KEY-----","gowinproc": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzeVXK4+oKJsWMH3uY7du\nxNHakMAzy8WNvwVyiVyAham4zh+FOMzP0FJ8O6RLMWFG5ZIcgYmaSSmi9T4T1vDp\n7HnhKUXYGhH0lEhcqppeqvLiy1RAIBlxH2yyU6oQe+SwPYZbhQvhk9OXvgUWDzMo\nUVor+sB/h8LSn9GmDi3Uty0CGtoS5TlBmFKYfcqid6aNsNQ+oa4H1ZHYMd8J7toE\nU1fgK3jZwWcd4XKBwP+qQcdhQ0zM82eTiXwmmgRKSaLB+fKBnsi8+CTIV6ge3mm8\nROhmEgOalHLQzllrcnNj1qbsHpjjSwiNlFwGvqrzxive5aGGPr9s9j31cL9MdlH9\nRwIDAQAB\n-----END PUBLIC KEY-----"}'

# Durable Objects
[[durable_objects.bindings]]
name = "CHALLENGE_STORAGE"
class_name = "ChallengeStorage"

[[durable_objects.bindings]]
name = "TUNNEL_STORAGE"
class_name = "TunnelStorage"

[[migrations]]
tag = "v1"
new_classes = ["ChallengeStorage"]

[[migrations]]
tag = "v2"
new_classes = ["TunnelStorage"]

# Service Bindings
[[services]]
binding = "WEBHOOK_WORKER"
service = "github-webhook-worker"
